<!-- Configure the pictures in the file _includes/about-picture-script.html -->

<figure class="about-picture" onclick="getAboutPicture()"><img src="/static/about-pictures/addison2.jpeg" alt="Addison2" title="Addison Day" id="aboutImg" width="200" height="200">
<figcaption id="aboutCaption"><!--Addison (in 2019)--></figcaption>
</figure>


<!-- choose one picture as a fallback in case Javascript fails -->

<noscript>
<figure class="about-picture"><img src="/static/about-pictures/addison2.jpeg" alt="Addison2" title="Addison (in 2019)"><figcaption id="aboutCaption">Addison (in 2019)</figcaption> 
</figure></figure>
</noscript>
